#words-field{
    margin-left:5px;
    text-align:center;
    font-size:x-large;
    height: 100vh
}

h3{
    text-align:center
}

.play-field{
    border-left: 0.5px solid lightgreen;
}
.title {
    margin-top: 20px;
    color: darkgrey;
    font-size: large;
    font-weight: bold;
}

.form {
    height: 112px;
    border-bottom: 0.5px solid lightgrey;
}

.bot-answer-mistake {
    font-weight: 600;
    font-size: larger;
    color: darkred;
}

.bot-answer-ok {
    font-weight: 600;
    font-size: larger;
    color: green;
}

.users-word {
    color: lightcoral
}

.bots-word {
    font-style: italic;
    color: #67e035;
}